<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_goBack-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{63,89}</string>
                <key>spriteSourceSize</key>
                <string>{63,91}</string>
                <key>textureRect</key>
                <string>{{312,1},{63,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,91}</string>
                <key>spriteSourceSize</key>
                <string>{63,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,91}</string>
                <key>spriteSourceSize</key>
                <string>{63,91}</string>
                <key>textureRect</key>
                <string>{{190,1},{59,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{61,91}</string>
                <key>spriteSourceSize</key>
                <string>{63,91}</string>
                <key>textureRect</key>
                <string>{{64,1},{61,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{61,91}</string>
                <key>spriteSourceSize</key>
                <string>{63,91}</string>
                <key>textureRect</key>
                <string>{{127,1},{61,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{59,91}</string>
                <key>spriteSourceSize</key>
                <string>{63,91}</string>
                <key>textureRect</key>
                <string>{{251,1},{59,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goBack.png</string>
            <key>size</key>
            <string>{376,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5928826c068278758556aa5399d258eb:075863bcf80a834e1415843a7fbbe399:318835d3d54f0534e217204bd34d2bf8$</string>
            <key>textureFileName</key>
            <string>goBack.png</string>
        </dict>
    </dict>
</plist>
