<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_jumpUp-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{1,219},{56,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{58,105}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,91}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{1,389},{52,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{1,308},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,73}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{1,575},{50,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,91}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{1,482},{50,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,109}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{1,108},{56,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{1,219},{56,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{60,649}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a5e2d05408964663a3a5e16781fed02:77e2b5134db1dad1c7622d7ff35dca45:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
