<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_light_kick-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,94}</string>
                <key>textureRect</key>
                <string>{{189,1},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_kick-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,94}</string>
                <key>textureRect</key>
                <string>{{119,1},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_kick-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_kick-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,94}</string>
                <key>textureRect</key>
                <string>{{119,1},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_kick-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,94}</string>
                <key>textureRect</key>
                <string>{{253,1},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light_kick.png</string>
            <key>size</key>
            <string>{316,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca8cb1b2688de46d43d4d6b66d7b57e5:add33c7c44e51d3d55208674c5f40894:de5af19c3601f8981f6f7f222407e0bb$</string>
            <key>textureFileName</key>
            <string>light_kick.png</string>
        </dict>
    </dict>
</plist>
