<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_light_boxing-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{66,91}</string>
                <key>spriteSourceSize</key>
                <string>{94,91}</string>
                <key>textureRect</key>
                <string>{{97,1},{66,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_boxing-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,91}</string>
                <key>spriteSourceSize</key>
                <string>{94,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_boxing-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{66,91}</string>
                <key>spriteSourceSize</key>
                <string>{94,91}</string>
                <key>textureRect</key>
                <string>{{165,1},{66,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light_boxing.png</string>
            <key>size</key>
            <string>{232,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:190b5e62f6e02a58cb5ef4aee8c30a0c:23e1cb2a57f078c25606886bc5c6e58f:b65dfa2ead464e119847ec2197c06403$</string>
            <key>textureFileName</key>
            <string>light_boxing.png</string>
        </dict>
    </dict>
</plist>
