<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_wait-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,91}</string>
                <key>spriteSourceSize</key>
                <string>{62,93}</string>
                <key>textureRect</key>
                <string>{{185,1},{62,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,91}</string>
                <key>spriteSourceSize</key>
                <string>{62,93}</string>
                <key>textureRect</key>
                <string>{{249,1},{62,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{62,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,93}</string>
                <key>spriteSourceSize</key>
                <string>{62,93}</string>
                <key>textureRect</key>
                <string>{{125,1},{58,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{62,93}</string>
                <key>textureRect</key>
                <string>{{63,1},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,91}</string>
                <key>spriteSourceSize</key>
                <string>{62,93}</string>
                <key>textureRect</key>
                <string>{{313,1},{62,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>waiting.png</string>
            <key>size</key>
            <string>{376,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16426eee9bfdcd69cc58862bd0307eaa:39e203c87d895d48038287e6770a1ebb:7744eb7e4549c9963eb2621c4ffd153c$</string>
            <key>textureFileName</key>
            <string>waiting.png</string>
        </dict>
    </dict>
</plist>
