<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_wave_boxing-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,90}</string>
                <key>textureRect</key>
                <string>{{87,111},{76,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RYU1_wave_boxing-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{108,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wave_boxing-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{108,90}</string>
                <key>textureRect</key>
                <string>{{1,89},{92,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RYU1_wave_boxing-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{108,90}</string>
                <key>textureRect</key>
                <string>{{91,1},{108,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wave_boxing.png</string>
            <key>size</key>
            <string>{178,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bfcf570a51aa25b1a6fd7d02803b481:291329cd3dccc14ffe70914b250f3341:958567b535b0fcc135095f4bf94f213d$</string>
            <key>textureFileName</key>
            <string>wave_boxing.png</string>
        </dict>
    </dict>
</plist>
